img {
  width: 100px;
  height: auto;
  transition: 0.3s ease transform;
}

img:hover{
  transform: scale(1.2);
}

/* Clases referentes a IMG */

.stepByStep-img{
  width: 80px;
  height: auto;
  transition: 0.3s ease transform;
}

.stepByStep:hover .stepByStep-img{
  transform: scale(1.1);
}

.header-img{
  width: 500px;
  height: auto;
  transform:none
}

.header-img:hover{
  transform:none
}

.HeaderApp-img{
  width: 400px;
  height: auto;
  transform:none
}

.HeaderApp-img:hover{
  transform:none
}

.block-content-img{
  width: 350px;
  height: auto;
  transform:none
}

.block-content-img:hover{
  transform:none
}

.notFound-img{
  width: 450px;
  height: auto;
  transform:none
}

@media (max-width: 768px) {
  .header-img{
    width: 80%;
    height: auto;
  }

  .block-content-img{
    width: 65%;
    height: auto;
  }

  .HeaderApp-img{
    width: 50%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .header-img {
    width: 100%;
    height: auto;
  }

  .block-content-img{
    width: 60%;
    height: auto;
  }

  .HeaderApp-img{
    width: 70%;
    height: auto;
  }
}




